.io-leggo-perché-1-hex { color: #333333; }
.io-leggo-perché-2-hex { color: #A80000; }
.io-leggo-perché-3-hex { color: #2264BA; }
.io-leggo-perché-4-hex { color: #FEC116; }
.io-leggo-perché-5-hex { color: #EEEEEE; }

body{
    background-color: #333333;
    color: #EEEEEE;
}

.menu{
    background-color: #444444;
    z-index: 2;
}

.menuItem:hover{
    background-color: #555555;
}

.logo{
    position: absolute;
    transform: translateY(-15%);
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    z-index: 3;
}

.logo h1{
    font-weight: 900;
    font-size: 200%;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.menu--transparent .logo{
    transform: translateY(-10%);
}

.menu--transparent .logo h1{
    transform: rotateZ(-5deg);
}

.cover{
    background: rgb(168,0,0);
    background: linear-gradient(45deg, rgba(168,0,0,1) 0%, rgba(34,100,186,1) 50%, rgba(254,193,22,1) 100%);
}

.cover--page{
    height: 40vh;
}

.coverFilter{
    display: none;
}

.coverCaptionCopy{
    color: #EEEEEE
}

.section{
    display: flex;
    justify-content: space-between;
    background-color: #FEC116;
    color: #333333;
    font-weight: 300;
    margin: 5% auto;
    padding: 5%;
    border-radius: 10px;
    z-index: 1;
}

.sectionTitle{
    color: #2264BA;
}

.page--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: solid 1px #EEEEEE;
    border-radius: 10px;
    margin-top: 5%;
}

.page--content .title{
    width: 30%;
    text-align: center;
    font-size: 150%
}

.page--content .title h1:nth-of-type(1){
    color: #2264BA;
}

.page--content .title h1{
    color: #FEC116;
}

.page--content .text{
    width: 70%;
    text-align: center;
}

.user{
    width: 15%;
}

.card{
    border: 1px solid #A80000;
    color: #EEEEEE;
}

.cardIcon{
    max-width: 50%;
}

.card:hover{
    background-color: #A80000;
    color: #EEEEEE;
}

.footer{
    background-color: #2264BA;
    margin-top: 5%;
}

.footerSocial{
    display: inline-block;
    width: 10%;
    margin: 2% auto;
    float: right;
}

.scuola{
    width: 5%;
    float: left;
}

.scuola img{
    width: 40px;
}

.scuola:hover img{
    width: 45px;
}

.footerCopyright{
    background-color: #0064BA;
    width: 100%;
}

@media (max-width: 767px){
    .logo{
        transform: translateY(-5%);
    }

    .menu--transparent .logo{
        transform: translateY(0%);
    }
    
    .logo h1{
        font-size: 150%;
    }
    
    .listMenu{
        background-color: #444444;
    }

    .page--content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border: solid 1px #EEEEEE;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    .page--content .title{
        width: 100%;
    }
    
    .page--content .text{
        width: 100%;
    }
    
    .footerSocial{
        width: 20%;
        margin-top: 5%;
    }

    .scuola{
        margin-top: 2%;
    }

    .footerCopyright{
        font-size: 80%;
    }
}